#customize-theme-controls .control-panel.control-panel-kirki-expanded > ul.control-panel-content {
  position: relative;
  left: 0;
  display: block !important;
  margin-top: 0 !important; }
  #customize-theme-controls .control-panel.control-panel-kirki-expanded > ul.control-panel-content .accordion-section-title {
    margin-left: 0; }
  #customize-theme-controls .control-panel.control-panel-kirki-expanded > ul.control-panel-content > li.customize-info {
    margin-bottom: 0;
    border-top: none; }
    #customize-theme-controls .control-panel.control-panel-kirki-expanded > ul.control-panel-content > li.customize-info .accordion-section-title {
      border-bottom: none !important; }
