/*
Theme Name:     Perpetual Works
Theme URI:      http://imaginatestudio.com
Description:    Perpetual Works WordPress Theme
Author:         Imaginate Studio
Author URI:     http://imaginatestudio.com
Template:       framework
Version:        1.0
*/

/* Primary Blue: #0054A6; Secondary Orange: #f7951d; */

/*-----------------------------------------------------------------------------------*/
/*	GLOBAL
/*-----------------------------------------------------------------------------------*/
#content .gform_wrapper .top_label .gfield_label {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
#content .gform_wrapper ul.gfield_checkbox li label, .gform_wrapper ul.gfield_radio li label {
	-webkit-font-smoothing: antialiased;
	color: rgb(119, 119, 119);
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
#content .gform_wrapper ul.gform_fields li.gfield.gquiz-field {margin: 150px 0;}
#content .gform_wrapper ul.gform_fields li.gfield.gquiz-field:first-child {margin: 60px 0px 150px;}

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6,
#main h1 span, #main h2 span, #main h3 span, #main h4 span, #main h5 span, #main h6 span, #main .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a {font-weight: normal !important;}

/* gravity forms */
.gform_wrapper input {margin-bottom: 0;}

/*-----------------------------------------------------------------------------------*/
/*	HEADER
/*-----------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------*/
/*	HOMEPAGE
/*-----------------------------------------------------------------------------------*/





/*-----------------------------------------------------------------------------------*/
/*	FOOTER
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	MOBILE
/*-----------------------------------------------------------------------------------*/

/*for them big screens*/
@media only screen and (min-width: 768px) {

}

/*for them little screens*/
@media only screen and (max-width: 768px) {

}


#wp-admin-bar-flatsome_panel, #wp-admin-bar-flatsome-activate, #wp-admin-bar-customize, #wp-admin-bar-edit_uxbuilder, #wp-admin-bar-edit ul#wp-admin-bar-edit-default {display: none;}
body.user-id-1 #wp-admin-bar-flatsome_panel, body.user-id-1 #wp-admin-bar-customize, body.user-id-1 #wp-admin-bar-edit ul#wp-admin-bar-edit-default, body.user-id-1 #wp-admin-bar-edit ul#wp-admin-bar-edit-default li {display: block;}

/* Zachs Code */

.gfield.hidden-field{
	display:none;
}