.hint,
[data-hint] {
  position: relative;
  display: inline-block; }
  .hint:before, .hint:after,
  [data-hint]:before,
  [data-hint]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 998;
    pointer-events: none;
    transition: 0.3s ease;
    transition-delay: 250ms; }
  .hint:hover:before, .hint:hover:after, .hint:focus:before, .hint:focus:after,
  [data-hint]:hover:before,
  [data-hint]:hover:after,
  [data-hint]:focus:before,
  [data-hint]:focus:after {
    visibility: visible;
    opacity: 1; }
  .hint:hover:before, .hint:hover:after,
  [data-hint]:hover:before,
  [data-hint]:hover:after {
    transition-delay: 0; }
  .hint:before,
  [data-hint]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: none;
    z-index: 999;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #333;
    left: -5px;
    top: 5px; }
  .hint:after,
  [data-hint]:after {
    content: attr(data-hint);
    background: #333;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 14px;
    height: auto;
    margin-bottom: -14px;
    width: 170px;
    max-width: 170px;
    display: block;
    white-space: normal;
    text-align: right;
    position: relative;
    top: -22px;
    left: -195px; }

li.customize-control {
  position: relative; }
  li.customize-control a.tooltip.hint--left {
    display: block;
    position: absolute;
    right: -10px;
    border-radius: 50%;
    color: #999;
    border: none;
    line-height: 8px;
    width: 20px;
    height: 20px;
    z-index: 10; }

.rtl li.customize-control a.tooltip.hint--left {
  right: auto;
  left: 0; }
.rtl .hint:before,
.rtl [data-hint]:before {
  left: 20px;
  border-left: none;
  border-right: 5px solid #333; }
.rtl .hint:after,
.rtl [data-hint]:after {
  left: 195px; }
