.customize-control-kirki-checkbox input[type="checkbox"],
.customize-control-kirki-multicheck input[type="checkbox"],
.customize-control-repeater input[type="checkbox"] {
  position: relative;
  margin: 0 1rem 0 0;
  cursor: pointer;
  margin-bottom: 5px;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  -webkit-border-radius: 3px; }
  .customize-control-kirki-checkbox input[type="checkbox"]:before,
  .customize-control-kirki-multicheck input[type="checkbox"]:before,
  .customize-control-repeater input[type="checkbox"]:before {
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: none; }
  .customize-control-kirki-checkbox input[type="checkbox"]:after,
  .customize-control-kirki-multicheck input[type="checkbox"]:after,
  .customize-control-repeater input[type="checkbox"]:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px; }
  .customize-control-kirki-checkbox input[type="checkbox"]:checked:before,
  .customize-control-kirki-multicheck input[type="checkbox"]:checked:before,
  .customize-control-repeater input[type="checkbox"]:checked:before {
    content: "\f147";
    font-family: dashicons;
    font-size: 25px;
    left: 0;
    top: 2px; }
  .customize-control-kirki-checkbox input[type="checkbox"]:checked:after,
  .customize-control-kirki-multicheck input[type="checkbox"]:checked:after,
  .customize-control-repeater input[type="checkbox"]:checked:after {
    background: #fff; }
