.customize-control-kirki-radio-buttonset .buttonset .switch-label {
  background: rgba(0, 0, 0, 0.05);
  color: #555;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px 7px;
  margin: 0;
  font-size: 12px; }
  .customize-control-kirki-radio-buttonset .buttonset .switch-label:last-child {
    border-right: none; }
.customize-control-kirki-radio-buttonset .buttonset .switch-input {
  display: none; }
  .customize-control-kirki-radio-buttonset .buttonset .switch-input:checked + .switch-label {
    background-color: #3498DB;
    color: #fff; }
