.customize-control-kirki-radio input[type=radio] {
  width: 18px;
  height: 18px; }
  .customize-control-kirki-radio input[type=radio]:checked:before {
    width: 10px;
    height: 10px;
    margin: 3px; }
.customize-control-kirki-radio label {
  display: list-item;
  margin-bottom: 7px; }
  .customize-control-kirki-radio label .option-description {
    display: block;
    color: rgba(0, 0, 0, 0.35);
    font-size: 0.9em;
    padding-left: 25px; }
