.customize-control-kirki-switch input[type="checkbox"] {
  display: none; }
.customize-control-kirki-switch .switch {
  border: none;
  margin-bottom: 1.5rem;
  outline: 0;
  padding: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .customize-control-kirki-switch .switch label {
    background: rgba(0, 0, 0, 0.2);
    color: transparent;
    cursor: pointer;
    display: block;
    margin-bottom: 1rem;
    position: relative;
    transition: left 0.15s ease-out;
    height: 2rem;
    width: 4rem;
    font-family: Monaco, "Lucida Sans Typewriter", "Lucida Typewriter", "Courier New", Courier, monospace; }
    .customize-control-kirki-switch .switch label:after {
      background: #FFFFFF;
      content: "";
      display: block;
      height: 1.5rem;
      left: 0.25rem;
      position: absolute;
      top: 0.25rem;
      width: 1.5rem;
      -webkit-transition: all 0.25s ease-in-out;
      -moz-transition: all 0.25s ease-in-out;
      -ms-transition: all 0.25s ease-in-out;
      -o-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out; }
  .customize-control-kirki-switch .switch input {
    left: 10px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 9px; }
    .customize-control-kirki-switch .switch input + label {
      margin-left: 0;
      margin-right: 0; }
    .customize-control-kirki-switch .switch input:checked + label {
      background: #3498DB; }
      .customize-control-kirki-switch .switch input:checked + label:after {
        left: 2.25rem;
        background: #ffffff; }
  .customize-control-kirki-switch .switch.round {
    border-radius: 1000px; }
    .customize-control-kirki-switch .switch.round label {
      border-radius: 2rem; }
      .customize-control-kirki-switch .switch.round label:after {
        border-radius: 2rem; }
.customize-control-kirki-switch .switch-off,
.customize-control-kirki-switch .switch-on {
  line-height: 32px;
  font-weight: bold;
  padding: 0 10px; }
.customize-control-kirki-switch .switch-on {
  color: #fff;
  padding-right: 5px; }
.customize-control-kirki-switch .switch-off {
  color: #777;
  padding-left: 5px; }
