.customize-control-kirki-typography .wrapper {
  -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .customize-control-kirki-typography .wrapper .color,
  .customize-control-kirki-typography .wrapper .font-family,
  .customize-control-kirki-typography .wrapper .font-size,
  .customize-control-kirki-typography .wrapper .letter-spacing,
  .customize-control-kirki-typography .wrapper .line-height,
  .customize-control-kirki-typography .wrapper .subsets,
  .customize-control-kirki-typography .wrapper .text-transform,
  .customize-control-kirki-typography .wrapper .variant {
    width: 100%;
    float: none;
    clear: both; }
    .customize-control-kirki-typography .wrapper .color h5,
    .customize-control-kirki-typography .wrapper .font-family h5,
    .customize-control-kirki-typography .wrapper .font-size h5,
    .customize-control-kirki-typography .wrapper .letter-spacing h5,
    .customize-control-kirki-typography .wrapper .line-height h5,
    .customize-control-kirki-typography .wrapper .subsets h5,
    .customize-control-kirki-typography .wrapper .text-transform h5,
    .customize-control-kirki-typography .wrapper .variant h5 {
      margin: 0.67em 0 0; }
  .customize-control-kirki-typography .wrapper .font-size,
  .customize-control-kirki-typography .wrapper .letter-spacing,
  .customize-control-kirki-typography .wrapper .line-height {
    width: 50%; }
  .customize-control-kirki-typography .wrapper .text-align {
    width: 100%; }
  .customize-control-kirki-typography .wrapper .text-align .dashicons {
    padding: 3px;
    font-size: 25px;
    width: 25px;
    height: 25px;
    border: 1px solid transparent; }
  .customize-control-kirki-typography .wrapper .text-align input {
    display: none; }
    .customize-control-kirki-typography .wrapper .text-align input:checked + label .dashicons {
      border: 1px solid #3498DB;
      color: #000; }
  .customize-control-kirki-typography .wrapper .text-transform {
    padding-top: 10px; }
  .customize-control-kirki-typography .wrapper .color {
    width: auto; }
