#customize-controls #customize-info .accordion-section-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
#customize-controls #customize-theme-controls .accordion-section > .accordion-section-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  #customize-controls #customize-theme-controls .accordion-section > .accordion-section-title:after {
    border-color: transparent !important;
    border-color: transparent !important; }

#customize-preview.is-kirki-editor-open {
  height: calc(100% - 301px); }

.customize-control-kirki .description {
  font-style: normal;
  font-weight: 300;
  font-size: .9em; }
.customize-control-kirki input {
  font-size: 16px; }
.customize-control-kirki input[type="text"],
.customize-control-kirki input[type="date"],
.customize-control-kirki input[type="email"],
.customize-control-kirki input[type="url"],
.customize-control-kirki input[type="tel"] {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  border-radius: 3px;
  padding: .5em; }

.wp-full-overlay.expanded #customize-footer-actions .kirki-footer-thanks {
  position: fixed;
  bottom: 8px;
  left: 150px;
  padding: 0;
  width: 90px;
  height: 25px;
  background-image: url("../images/kirki-bottom.png");
  background-repeat: no-repeat;
  background-position: center center; }

.kirki-reset-section {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #BDBDBD;
  opacity: .5;
  color: #fff;
  font-size: .8rem;
  border-radius: 3px;
  padding: 0 5px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-weight: bold; }
  .kirki-reset-section .dashicons {
    font-size: .8rem;
    width: .8rem;
    height: .8rem;
    line-height: .8rem;
    vertical-align: baseline; }
  .kirki-reset-section:hover, .kirki-reset-section:active {
    background: #F44336;
    color: #fff;
    font-weight: bold;
    opacity: 1; }
  .kirki-reset-section:focus {
    opacity: 1;
    -webkit-box-shadow: 0 0 0 1px #F44336, 0 0 2px 1px rgba(200, 50, 30, 0.8);
    box-shadow: 0 0 0 1px #F44336, 0 0 2px 1px rgba(200, 50, 30, 0.8); }
