.customize-control-kirki-color-palette label {
  position: relative;
  display: inline-block;
  padding: 2px 0; }
.customize-control-kirki-color-palette .color-palette-color {
  color: transparent;
  display: block;
  width: 42px;
  height: 42px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: inset 3px 3px 13px 2px rgba(0, 0, 0, 0.22);
  box-shadow: inset 3px 3px 13px 2px rgba(0, 0, 0, 0.22);
  border: 1px solid rgba(0, 0, 0, 0.2); }
.customize-control-kirki-color-palette .colors-wrapper {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px; }
  .customize-control-kirki-color-palette .colors-wrapper input {
    display: none; }
    .customize-control-kirki-color-palette .colors-wrapper input:checked + label .color-palette-color {
      -webkit-box-shadow: 1px 1px 10px 1px #333333;
      box-shadow: 1px 1px 10px 1px #333333;
      border: 1px solid rgba(0, 0, 0, 0.3); }
