.customize-control-kirki-number .ui-spinner.ui-widget-content {
  position: relative; }
  .customize-control-kirki-number .ui-spinner.ui-widget-content .ui-spinner-button {
    position: absolute;
    right: 0;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 0 5px;
    width: 20px;
    height: calc(50% + 0.5em);
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background: transparent;
    background: none;
    margin: 0; }
    .customize-control-kirki-number .ui-spinner.ui-widget-content .ui-spinner-button .ui-button-text {
      display: none; }
    .customize-control-kirki-number .ui-spinner.ui-widget-content .ui-spinner-button.ui-spinner-down:before, .customize-control-kirki-number .ui-spinner.ui-widget-content .ui-spinner-button.ui-spinner-up:before {
      font-family: dashicons;
      position: absolute;
      left: 0; }
    .customize-control-kirki-number .ui-spinner.ui-widget-content .ui-spinner-button.ui-spinner-up {
      top: -50%; }
      .customize-control-kirki-number .ui-spinner.ui-widget-content .ui-spinner-button.ui-spinner-up:before {
        content: "\f343"; }
    .customize-control-kirki-number .ui-spinner.ui-widget-content .ui-spinner-button.ui-spinner-down {
      top: 50%; }
      .customize-control-kirki-number .ui-spinner.ui-widget-content .ui-spinner-button.ui-spinner-down:before {
        content: "\f347"; }
    .customize-control-kirki-number .ui-spinner.ui-widget-content .ui-spinner-button:hover {
      color: rgba(0, 0, 0, 0.7); }
