.customize-control-kirki-palette input[type="radio"] {
  display: none; }
  .customize-control-kirki-palette input[type="radio"]:checked + label {
    border: 3px solid rgba(0, 0, 0, 0.4); }
.customize-control-kirki-palette label {
  background: none;
  padding: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  margin-bottom: 5px;
  display: flex; }
  .customize-control-kirki-palette label span {
    padding: 10px 0;
    flex-grow: 1;
    font-size: 0;
    line-height: 10px;
    color: transparent;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .customize-control-kirki-palette label span:first-child {
      border-left: 1px solid rgba(0, 0, 0, 0.1); }
    .customize-control-kirki-palette label span:last-child {
      border-right: 1px solid rgba(0, 0, 0, 0.1); }
    .customize-control-kirki-palette label span:hover {
      padding: 10px;
      flex-grow: 3;
      min-width: 60px;
      font-size: 10px;
      line-height: 10px;
      color: #000; }
